<nav class="flex items-center justify-between px-10 py-6 bg-blue-100 shadow-sm font-poppins">
    <div>
      <h2 class="text-4xl font-bold text-blue-700">ICET</h2> 
      <p class="text-lg tracking-widest text-gray-600">EMPLOYEE MANAGEMENT</p>
    </div>
  
    <ul class="flex gap-8 text-blue-700 font-bold text-lg">
      <li>
        <a routerLink="/employees" routerLinkActive="border-b-2 border-blue-700 pb-1">Employees</a>
      </li>
      <li>
        <a routerLink="/employees/add" routerLinkActive="border-b-2 border-blue-700 pb-1">Employee Add</a>
      </li>
    </ul>
  </nav>
